 <div class='container'>
    <div class='row'><!--rowは横並びにしたいコンテンツがある時、それらをrowクラスで囲って使う-->
      <!--px-3：左右のpaddingを3サイズ、mx-auto：左右のmarginを自動-->
      <h1 class="px-3 mx-auto">Welcome to
        <!--FontAwesome-->
        <i class="fas fa-book"></i>
        <strong>Bookers</strong>!
      </h1>
    </div>
  </div>